doctype html 
html
  head
     title GIPPY'S DANCE ACADEMEY
     block scripts
     block style 
  body
     nav#navbar 
          ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/Contact") Contact Us]

  block content
    
      
  footer#footer 
    | Copyright © 2022 GippyDanceAcademy.com | All Rights Reserved
    